<div class="jumbotron text-center">
<h1>Invitations</h1>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |invitation|}}
    <tr>
      <th>{{invitation.id}}</th>
      <th>{{invitation.email}}
        <button class="btn btn-danger btn-xs pull-right" {{action 'deleteInvitation' invitation}}>Delete</button>
      </th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}
